
@if (ViewBag.MsgAlerta != null)
{
    <div id="msg-alerta">
        @ViewBag.MsgAlerta
    </div>
}
@if (ViewBag.MsgOk != null)
{
    <div id="msg-ok">
        @ViewBag.MsgOk
    </div>
}
@if (ViewBag.MsgErro != null)
{
    <div id="msg-erro">
        @ViewBag.MsgErro
    </div>
}