@model EmpreendaVc.Domain.Staff
@using EmpreendaVc.Web.Mvc.Util
@using MvcContrib
@using MvcContrib.FluentHtml
@{
    ViewBag.Title = "Plantel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>
    Dispensar</h2>

@{ Html.RenderAction("Index", "Mensagem"); }
    <p>
    @if ((bool)ViewBag.Clube)
    {
        @:Para encerrar o contrato com @Model.Nome, você terá que pagar uma multa de $@(((Model.Salario * 2) * Model.Contrato).ToString("N2")).<br />
    }
    else
	{
        @:Ao dispensar @Model.Nome, você não poderá mais contar com seu trabalho.<br />
	}    
    Deseja continuar?
    </p>
    <br />
    <a class="submit" href="@Url.Action("StaffDispensarConfirma", new { id = Model.Id })">CONFIRMAR</a>
    <a class="voltar-link" href="@Url.Action("Index", "Staff", new { id = Model.Id })">VOLTAR</a>
