@model EmpreendaVc.Domain.Patrocinio
@using EmpreendaVc.Web.Mvc.Util
@using MvcContrib
@using MvcContrib.FluentHtml
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var controle = (EmpreendaVc.Domain.Controle)ViewBag.Controle;
    var clube = (EmpreendaVc.Domain.Clube)ViewBag.Clube; 
}

<h2>@Model.Nome</h2>
@{ Html.RenderAction("Index", "Mensagem"); }

<div id="left">
    <div id="patrocinio-tabela">
        <table class="classificacao" cellpadding="0" cellspacing="0">
            <tr>
                <th>Clubes com contrato</th>
            </tr>
            <tr>
                @if (Model.PatrocinioClubes.Count() > 0)
                {
                    foreach (var patrocinioclube in Model.PatrocinioClubes)
                    {
                        <td>@patrocinioclube.Clube.Nome</td>
                    }
                }
                else
                {
                    <td><i>Nenhum clube</i></td>
                }
            </tr>
        </table>
    </div>
</div>
<div id="right">
    <div id="plantel-menu">
        @if (Model.PatrocinioClubes.Where(x => x.Clube.Id == clube.Id).Count() == 0)
        {
            <a class="botao" href="@Url.Action("PatrocinioOferta", "Patrocinio", new { id = Model.Id })">Negociar</a><br />
        }
        else
        {
            <a class="botao" href="@Url.Action("StaffDispensar", "Staff", new { id = Model.Id })">Encerrar Contrato</a><br />
        }
    </div>
</div>

<div class="clear">

<a class="voltar-link" href="javascript:history.back()">VOLTAR</a>
