@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="subheader">
    <h2>Obrigado!</h2>
</div>
<div id="total">
    Agora você precisa apenas ativar seu cadastro atráves do e-mail de confirmação que você receberá em alguns minutos.
</div>