@model EmpreendaVc.Domain.Leilao
@using EmpreendaVc.Web.Mvc.Util
@using MvcContrib
@using MvcContrib.FluentHtml
@{
    ViewBag.Title = "Plantel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>
    Vender</h2>
@{ Html.RenderAction("Index", "Mensagem"); }
@using (Html.BeginForm())
{
    if (Model != null)
    {
        Html.AntiForgeryToken();
        @Html.Hidden("Jogador", Model.Jogador.Id)
        @: Escolha o valor pelo qual deseja vender @Model.Jogador.Nome: 
        @this.Select("Valor").Options(Util.RetornaValorVenda()).FirstOption("Selecione").Selected(Model != null ? Model.Valor.ToString() : "")      
    
        <br /><br />
        <input type="submit" class="submit" value="Confirmar" />    
    }
    <a class="voltar-link" href="@Url.Action("Plantel", "Clube")">VOLTAR</a>
}