@model EmpreendaVc.Domain.Jogador
@using EmpreendaVc.Web.Mvc.Util
@using MvcContrib
@using MvcContrib.FluentHtml
@{
    ViewBag.Title = "Plantel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>
    Renovar</h2>

@{ Html.RenderAction("Index", "Mensagem"); }
@using (Html.BeginForm())
{
    if (Model != null)
    {
        Html.AntiForgeryToken();
        @Html.Hidden("Jogador", Model.Id)
        @: @Model.Nome ganha atualmente $@Model.Salario.ToString("N2"). <br /><br />Escolha o novo salário que será oferecido: 
        @this.Select("Salario").Options(Util.RetornaValorSalario()).FirstOption("Selecione").Selected(Model != null ? "$" + Model.Salario.ToString("N2") : "")   
    
        <br /><br />
        <input type="submit" class="submit" value="Confirmar" />
    }    
    <a class="voltar-link" href="@Url.Action("Plantel", "Clube")">VOLTAR</a>
}