@model EmpreendaVc.Domain.Clube
@using EmpreendaVc.Web.Mvc.Util
@{
    ViewBag.Title = "Plantel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>
    CARGO DE TREINADOR</h2>

@if ((bool)ViewBag.Aceita)
{
    <p>
        O @Model.Nome ficaria muito feliz em poder contar com o seus serviços.<br /> Deseja continuar?
    </p>
    <input type="submit" class="submit" value="Confirmar" />
}
else
{
    <p>
        O @Model.Nome agradece, mas não tem intesse em contar com seus serviços no momento.
    </p>
}   

    <a class="voltar-link" href="javascript:history.back()">VOLTAR</a>
