@model IEnumerable<EmpreendaVc.Domain.Escalacao>
@using EmpreendaVc.Web.Mvc.Util
@{
    ViewBag.Title = "Plantel";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var i = 1;
}

<h2>Escalação - Formação: @ViewBag.Formacao.ToString().Insert(1, "-").Insert(3, "-").Insert(5, "-")</h2>
<table class="classificacao" cellpadding="0" cellspacing="0">
    
    @foreach (var item in Model.OrderBy(x => x.Posicao))
    {
        <tr>
            <td>@i</td>
            <td>@item.Jogador.Nome</td>
            <td>@Util.RetornaPosicao(item.Jogador.Posicao)</td>
        </tr>    
        i++;
    }
</table>
