@model IEnumerable<EmpreendaVc.Domain.JogadorPedido>
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (Model != null)
{
    foreach (var item in Model)
    {
        var jogador = item.Jogador;
    <div class="caixa">
        <h1>@jogador.Nome</h1>
        Está solicitando uma renovação de contrato com aumento salarial de $@jogador.Salario.ToString("N2") para $@item.Salario.ToString("N2") <br />
        <div style="text-align: right;">
            <a class="confirmar-link" title="Aceitar" href="@Url.Action("JogadorPedidoResposta", new { id = item.Id, resposta = true })"></a>
            <a class="cancelar-link" title="Rejeitar" href="@Url.Action("JogadorPedidoResposta", new { id = item.Id, resposta = false })"></a>
        </div>
    </div>
    }
}
else
{
    @: Você não possui pedidos.
}