@model EmpreendaVc.Domain.Usuario
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="subheader">
    <h2>Parabéns!</h2>
</div>
<div id="total">
    <p>
        Sua conta foi ativada com sucesso!
    </p>
</div>