@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>
    Bem vindo</h2>

<div id="home-texto">
    <p>
        <b>Bola na Rede</b> é o novo jogo de manager de futebol ONLINE.<br />
        Aqui você terá o trabalho de um técnico, gerindo times e participando de campeonatos 
        com seus amigos e muitos outros usuários. Faça bem seu trabalho e leve seu 
        time até a 1ª Divisão, ou seja reconhecido para conseguir vaga em melhores clubes, 
        mas não se esqueça, se for mal poderá perder o cargo e ter que começar novamente.<br />
    </p>
    <p style="font-weight: bold;">
        ATENÇÃO: ESTAMOS NA VERSÃO BETA, EM BREVE NOVAS FUNCIONALIDADES E DIVERSÃO PARA VOCÊ.
    </p>
    <p>
        Contratar staffs e negociar a fundo com jogadores. Fazer negócios com patrocinadores, gerir estádio, 
        disputar campeonatos como Libertadores e até o Mundial. Essas e outras novidades em breve.
    </p>
</div>
@{ Html.RenderAction("Login", "Conta"); }
