@model EmpreendaVc.Domain.Jogador
@using EmpreendaVc.Web.Mvc.Util
@using MvcContrib
@using MvcContrib.FluentHtml
@{
    ViewBag.Title = "Plantel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>
    PROPOR TESTE</h2>

@{ Html.RenderAction("Index", "Mensagem"); }
    <p>
    Você está propondo um dia de teste para @Model.Nome, amanhã o desempenho dele no treino será relatado nas suas notícias.<br />
    Deseja continuar?
    </p>
    <br />
    <a class="submit" href="@Url.Action("ProporTesteConfirma", new { id = Model.Id })">CONFIRMAR</a>
    <a class="voltar-link" href="@Url.Action("Index", "Jogador", new { id = Model.Id })">VOLTAR</a>
