body { margin: 0px; padding: 0px; background: url('../img/bg.png') repeat-x #FBFBFB; font-family: 'Arial', 'Trebuchet MS', Sans-Serif; font-size: 12px; color: #333; }

.clear { clear:both; }
a { color: #239ACD; font-weight: bold; text-decoration: none; }

#main { width: 980px; min-height: 400px; margin: 0 auto; }
    #header { width: 980px; height: 177px; border-bottom: 4px solid #239ACD; }
        #menu { float: right; margin-top: 0px; text-align: right; }
            #menu ul { margin-right: 20px; }
            #menu ul li { display: block; margin-left: 20px; float: left; list-style-type: none; color: White; text-transform: uppercase; font-size: 12px; }            

    #conteudo { padding: 15px; }


#home-login { width: 430px; float: right; }

h2 { color: #333; font-size: 26px; font-weight: normal;letter-spacing: -0.08em; margin-top: 0px; } /*#239ACD*/
h2 .legenda { float: right; font-size: 9px; color: #333; text-transform: uppercase; letter-spacing: 0; margin-top: 2px; text-align:right; }
h2 .legenda b { font-size: 11px; }

.caixa { border: 1px solid #D3EDF8; padding: 10px; border-top: 2px solid #239ACD; border-radius: 3px; margin-bottom: 10px; }
    .caixa h1 { font-size: 15px; background: #EDF8FC; font-weight: bold; border-bottom: 1px solid #D3EDF8; padding: 10px; margin: -10px -10px 10px -10px;   }
    
    
    
.classificacao { border: 1px solid #D3EDF8; padding: 0px; border-top: 2px solid #239ACD; border-radius: 3px; width:100%; margin-bottom: 10px; }
.classificacao th { padding: 8px; background: #EDF8FC; border-bottom: 4px solid #D3EDF8; font-size: 11px; font-weight: normal; color: #239ACD; }
.classificacao td { padding: 8px; border-top: 1px solid #D3EDF8; font-size: 12px; text-align: center; }
.classificacao td:nth-child(even) { border-top: 1px solid #D3EDF8; padding: 8px; background-color: #EDF8FC; }

/*.classificacao .rebaixa td { padding: 8px; border-top: 1px solid #D3EDF8; font-size: 12px; text-align: center; background-color: #FCEDED; }
.classificacao .rebaixa td:nth-child(even) { border-top: 1px solid #D3EDF8; padding: 8px; background-color: #F9D2D2; }*/
.classificacao .promove td { color: #62AF41; }
.classificacao .rebaixa td { color: #F00000; }

#plantel-caixa { float: left; width: 600px; }
    #plantel-caixa table { width: 100%; }
#plantel-classificacao { float: left; width: 600px; }
#plantel-dados { float: right; width: 310px; }
#plantel-financas { float: right; width: 310px; }
#plantel-proximo { float: right; width: 310px; }

.plantel-sobcontrato { display: block; width: 25px; height: 20px; background: url('../img/sobcontrato.png') center center no-repeat; float: left; }
.plantel-semcontrato { display: block; width: 25px; height: 20px; background: url('../img/semcontrato.png') center center no-repeat; float: left; }
.plantel-vender { display: block; width: 25px; height: 20px; background: url('../img/vender.png') center center no-repeat; float: left;  }

.confirmar-link { display: block; width: 50px; height: 32px; background: url('../img/confirmar.png') center center no-repeat; float: right }
.cancelar-link { display: block; width: 50px; height: 32px; background: url('../img/confirmar.png') center center no-repeat; float: right }
.voltar-link { font-family: 'Trebuchet MS'; text-decoration: underline; text-transform: uppercase; font-size: 14px; margin-left: 25px;}

.msg-ok { padding: 10px 10px 10px 40px; background: url('../img/msg-ok.png') 10px 10px no-repeat #99C700; font-weight: bold; font-size: 14px; color: #fff; margin-bottom: 10px; border-radius: 3px; }
.msg-erro { padding: 10px 10px 10px 40px; background: url('../img/msg-erro.png') 10px 10px no-repeat #C80000; font-weight: bold; font-size: 14px; color: #fff; margin-bottom: 10px; border-radius: 3px; }
.msg-alerta { padding: 10px 10px 10px 40px; background: url('../img/msg-alerta.png') 10px 10px no-repeat #CAAC00; font-weight: bold; font-size: 14px; color: #fff; margin-bottom: 10px; border-radius: 3px; }

input[type=text], input[type=password], textarea, select { background: #EDF8FC; border: 1px solid #D3EDF8; color: #239ACD; border-top: 2px solid #239ACD; padding: 10px; border-radius: 3px; }
.submit { cursor: pointer; min-width: 200px; background: #333; border: 0px; color: #fff; border-top: 2px solid #239ACD; padding: 10px; border-radius: 3px; font-family: 'Trebuchet MS'; font-weight: bold; text-transform: uppercase; font-size: 14px; }

