body { margin: 0px; padding: 0px; background: url('../img/bg.png') repeat-x #FBFBFB; font-family: 'Arial', 'Trebuchet MS', Sans-Serif; font-size: 12px; color: #333; }

.clear { clear:both; }
a { color: #4982B9; font-weight: bold; text-decoration: none; }

#main { width: 980px; min-height: 400px; margin: 0 auto; }
    #header { width: 980px; height: 177px; border-bottom: 4px solid #4982B9; }
        #logo { float: left; margin: 20px; }
            #linklogo { display: block; float: left; width: 450px; height: 140px; background: url('../img/logo.png') no-repeat; }
        #menu { float: right; margin-top: 0px; text-align: right; }
            #menu ul { margin-right: 20px; }
            #menu ul li { display: block; margin-left: 20px; float: left; list-style-type: none; color: White; text-transform: uppercase; font-size: 12px; }            
        #datacontrole { float: right; margin-top: 110px; padding: 15px; }
    
    #conteudo { padding: 15px; min-height: 350px; }
    #footer { width: 940px; height: 118px; background: #EEF3F9; margin-top: 20px; border-top: 4px solid #4982B9; font-size: 10px; padding: 20px; font-weight: bold; }
        #footer-logo { position: absolute; margin-left: 770px; margin-top: 15px; width: 150px; height: 65px; background: url('../img/logo-footer.png') no-repeat; }
        #footer span { display: block; margin-left: 10px; margin-bottom: 12px; list-style-type: none; color: White; text-transform: uppercase; font-size: 12px; }

#home-texto { font-size: 16px; float: left; width: 480px; text-align: justify; }    
#home-login { width: 430px; float: right; }

h2 { color: #333; font-size: 26px; font-weight: normal;letter-spacing: -0.08em; margin-top: 0px; text-transform: uppercase; } /*#4982B9*/
h2 .legenda { float: right; font-size: 9px; color: #333; text-transform: uppercase; letter-spacing: 0; margin-top: 2px; text-align:right; }
h2 .legenda b { font-size: 11px; }
h3 { text-transform: uppercase; }

.caixa { border: 1px solid #CBDBEB; padding: 10px; border-top: 2px solid #4982B9; border-radius: 3px; margin-bottom: 10px; }
    .caixa h1 { font-size: 15px; background: #EEF3F9; font-weight: bold; border-bottom: 1px solid #CBDBEB; padding: 10px; margin: -10px -10px 10px -10px; } 
    
.classificacao { border: 1px solid #CBDBEB; padding: 0px; border-top: 2px solid #4982B9; border-radius: 3px; width:100%; margin-bottom: 10px; }
.classificacao th { padding: 8px; background: #EEF3F9; border-bottom: 4px solid #CBDBEB; font-size: 11px; font-weight: normal; color: #4982B9; text-transform: uppercase; }
.classificacao td { padding: 8px; border-top: 1px solid #CBDBEB; font-size: 12px; text-align: center; }
.classificacao td a { font-weight: normal; color: #333; }
.classificacao td:nth-child(even) { border-top: 1px solid #CBDBEB; padding: 8px; background-color: #EEF3F9; }

.classificacao .promove { color: #62AF41; }
.classificacao .rebaixa { color: #F00000; }

.tr-temporario td { color: #0066CC; }
.tr-temporario td a { color: #0066CC; }

.botao { display:block; cursor: pointer; width: 260px; height: 18px; text-align: center; background: #333; border: 0px; color: #fff; border-top: 2px solid #4982B9; padding: 10px; border-radius: 3px; font-family: 'Trebuchet MS'; font-weight: bold; text-transform: uppercase; font-size: 14px; }

#right { width: 280px; float: right; }
#left { width: 650px; float: left; }

#usuario-left { width: 465px; float: left; }
#usuario-right { width: 465px; float: right; }

#plantel-caixa { width: 650px; }
    #plantel-caixa table { width: 100%; }
    #plantel-caixa a { font-weight: normal; margin-left: 15px; }
#plantel-classificacao { width: 650px; }

#plantel-dados { float: right; width: 260px; }
#plantel-formacao { float: right; width: 260px; }
    #plantel-formacao p { width: 125px; float: left; text-align: center; }
    #plantel-formacao a { font-size: 16px; font-weight:normal; }
#plantel-menu { float: right; width: 280px; }
    #plantel-menu p { margin-left: 15px; width: 260px; float: left; font-size: 16px; line-height: 30px; }
#plantel-financas { float: right; width: 260px; }
#plantel-proximo { float: right; width: 260px; }

#plantel-posicao { height: 50px; width: 650px; float:left; }
    .posicao-vazio { float: left; margin-right: 5px; width: 34px; background: #CBDBEB; color: #4982B9; border-top: 2px solid #4982B9; padding: 10px; border-radius: 3px; font-family: 'Trebuchet MS'; font-weight: bold; font-size: 14px; text-align: center; }
    .posicao-preenchido { float: left; margin-right: 5px; width: 34px; background: #333; border: 0px; color: #fff; border-top: 2px solid #4982B9; padding: 10px; border-radius: 3px; font-family: 'Trebuchet MS'; font-weight: bold; font-size: 14px; text-align: center; }

#plantel-visualizar { height: 50px; float: right; font-size: 14px; }
    .con { display: none; }
    .est { display: none; }
    
#Ingresso { background: #FBFBFB; padding: 0px; border: none; font-size: 14px; font-weight: bold; text-align: center; }

#classificacao-lista { width: 260px; float: right; font-size: 16px; line-height: 30px; }
#classificacao-lista a { font-weight: normal; margin-left: 15px; }
#classificacao-tabela { float: left; width: 650px; }
#classificacao-taca { float: left; width: 650px; }

#calendario-tabela { float: left; width: 650px; }

#resultados-lista { width: 260px; float: right; font-size: 16px; line-height: 30px; }
#resultados-lista a { font-weight: normal; margin-left: 15px; }
#resultados-tabela { float: left; width: 650px; min-height: 300px; }

#transferencias-tabela { float: left; width: 650px; }

#jogador-tabela { float: left; width: 650px; }
#jogador-situacao { float: left; width: 650px; }
#jogador-historico { float: left; width: 650px; }
#jogador-lista { width: 260px; float: right; font-size: 16px; line-height: 30px; }
#jogador-lista a { font-weight: normal; margin-left: 15px; }
.jogador-detalheoferta { display: block; width: 25px; height: 20px; background: url('../img/lupa.png') right center no-repeat; float: left; margin-left: 5px;}

#calendario-tabela { float: left; width: 650px; }

#patrocinio-tabela { float: left; width: 650px; }
#patrocinio-lista { width: 260px; float: right; font-size: 16px; line-height: 30px; }
#patrocinio-lista a { font-weight: normal; margin-left: 15px; }

.plantel-sobcontrato { display: block; width: 25px; height: 20px; background: url('../img/sobcontrato.png') center center no-repeat; float: left; }
.plantel-semcontrato { display: block; width: 25px; height: 20px; background: url('../img/semcontrato.png') center center no-repeat; float: left; }
.plantel-vender { display: block; width: 25px; height: 20px; background: url('../img/vender.png') center center no-repeat; float: left;  }

.jogador-proposta { display: block; width: 25px; height: 20px; background: url('../img/vender.png') center center no-repeat; float: left;  }
.jogador-cancelarleilao { display: block; width: 25px; height: 20px; background: url('../img/cancelar.png') center center no-repeat; float: left;  }

.confirmar-link { display: block; width: 50px; height: 32px; background: url('../img/confirmar.png') center center no-repeat; float: right }
.cancelar-link { display: block; width: 50px; height: 32px; background: url('../img/confirmar.png') center center no-repeat; float: right }
.voltar-link { font-family: 'Trebuchet MS'; text-decoration: underline; text-transform: uppercase; font-size: 14px; margin-left: 25px;}

.porcentagem { border: 1px solid #CBDBEB; border-radius: 3px; height: 40px; background: }
    .porcentagem .porcentagem-valor { position: absolute; font-size: 22px; font-weight: bold;  text-align: center; width: 925px; padding-top: 6px;}
    .porcentagem .porcentagem-interior { border-radius: 3px; height: 40px; background: #CBDBEB; }
    
#msg-ok { padding: 10px 10px 10px 40px; background: url('../img/msg-ok.png') 10px 8px no-repeat #99C700; font-weight: bold; font-size: 14px; color: #fff; margin-bottom: 20px; border-radius: 3px; }
#msg-erro { padding: 10px 10px 10px 40px; background: url('../img/msg-erro.png') 10px 8px no-repeat #C80000; font-weight: bold; font-size: 14px; color: #fff; margin-bottom: 20px; border-radius: 3px; }
#msg-alerta { padding: 10px 10px 10px 40px; background: url('../img/msg-alerta.png') 10px 8px no-repeat #CAAC00; font-weight: bold; font-size: 14px; color: #fff; margin-bottom: 20px; border-radius: 3px; }

.select-escalacao { background: #FBFBFB; padding: 0px; border: none; font-size: 14px; font-weight: bold; text-align: center; width: 48px; }
.lesionado { display: block; height: 20px; width: 20px; background: url('../img/lesionado.png') center center no-repeat; }

input[type="text"], input[type="password"], textarea, select { background: #EEF3F9; border: 1px solid #CBDBEB; color: #4982B9; border-top: 2px solid #4982B9; padding: 10px; border-radius: 3px; }
.submit { cursor: pointer; min-width: 200px; background: #333; border: 0px; color: #fff; border-top: 2px solid #4982B9; padding: 10px; border-radius: 3px; font-family: 'Trebuchet MS'; font-weight: bold; text-transform: uppercase; font-size: 14px; }
.submit:hover { background: #444; }

#loading { position: absolute; z-index: 10000; text-align: center; background: url('../img/bgtrans.png'); display: none; }
#loading-image { height: 80px; width: 80px; margin: 0 auto; margin-top: 300px; z-index: 11000; background: #fff; border: 1px solid #CBDBEB; border-radius: 3px; }
#loading-image img { margin-top: 10px; margin-left: -3px; }